In [2]:
import pandas as pd

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Mango"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3         Mango
dtype: object

In [2]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [3]:
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

pd.Series(recipe)

Flour     True
Sugar     True
Salt     False
dtype: bool

In [104]:
google = pd.read_csv("google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [110]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])

In [111]:
pokemon_series = pokemon_df.squeeze("columns")

In [112]:
pokemon_series[0] = "Whatever"

In [113]:
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [114]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [115]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [116]:
pokemon_series[0] = "Whatever"

In [118]:
pokemon_series
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [144]:
google = (
    pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
    .squeeze("columns")
    .copy()
)

In [145]:
google.sort_values(inplace=True)

In [137]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [146]:
google = pd.read_csv("google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [147]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [158]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
min(google)
max(google)
google.min()
google.max()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [159]:
google = pd.read_csv("google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [162]:
google + 10
google - 30
google * 2

0        100.24
1        108.20
2        109.30
3        104.76
4        105.90
         ...
3007    1545.76
3008    1542.14
3009    1546.36
3010    1543.22
3011    1564.44
Name: Stock Price, Length: 3012, dtype: float64

In [176]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon" ).squeeze()

In [177]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass", "Water", "Fire"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else:
        return "TBD"

In [180]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [5]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon" ).squeeze()

In [1]:
mappings = {
    "Grass": "Classic",
    "Water": "Classic",
    "Fire": "Classic",
    "Normal": "Boaring"
}

mnappings_series = pd.Series(mappings)

NameError: name 'pd' is not defined

In [6]:
pokemon.map(mnappings_series)

NameError: name 'mnappings_series' is not defined